.spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #0270c7;
  color: #fff;
}
.mat-mdc-menu-panel.mat-mdc-menu-panel  {
  background: #0270c7;
  color: #fff;
}
.mdc-menu-surface--open {
  background: #0270c7;
}
