<mat-toolbar color="primary">
  <!-- <button mat-icon-button (click)="isMenuOpen = !isMenuOpen">
    <mat-icon>menu</mat-icon>
  </button> -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Assuer Plus</span>
  <span class="spacer"></span>

  <mat-menu #menu="matMenu">
    <button  routerLink="/customArea/home" mat-menu-item>Accueil</button>
    <button routerLink="/customArea/accident"  mat-menu-item>Signaler un accident</button>
    <button  routerLink="/authentication"  mat-menu-item>Déconnexion</button>
  </mat-menu>
</mat-toolbar>
