
 <div class="form-container">
  <h1 class="text-center mb-3" style="font-size: 1rem;">Connexion à votre espace client Assuer Plus</h1>

 <form [formGroup]="form" (ngSubmit)="login()">
  <div class="form-group">
    <label for="assuranceNumber">N° d'assuré</label>
    <input
    formControlName="assuranceNumber"
    id="assuranceNumber "
    type = "string"
    class = "form-control">
    <div *ngIf="assuranceNumber!.touched && assuranceNumber!.invalid"
      class="alert alert-danger mt-1"> Le numéro d'assuré est obligatoire</div>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input
    formControlName="password"
    id="password "
    type = "string"
    class = "form-control">
    <div *ngIf="password!.touched && password!.invalid"
      class="alert alert-danger mt-1"> Le mot de passe est obligatoire</div>
  </div>
  <div *ngIf="errLogin" class="alert alert-danger mt-2"> La combinaison numéro d'assuré / mot de passe est incorrecte</div>
  <img *ngIf="loader" src="assets/loader.gif" style="width: 100%;">
  <div class="text-center"><button class="btn btn-primary mt-1" type="submit" [disabled]="!form.valid">Connexion</button></div>

</form>

 </div>
